[submodule "Modules/Infra"]
	path = Modules/Infra
	url = git@github.com:jaywapp/Infra.git
[submodule "Modules/Graphic.Component"]
	path = Modules/Graphic.Component
	url = git@github.com:jaywapp/Graphic.Component.git
